@import "../assets/fonts/Roboto/roboto";
@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--color-text);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 926px) {
    height: calc(var(--vh, 1vh) * 100);
  }
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: normal;
}

h1 {
  font-size: 2rem;

  @media (min-width: 927px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;

  @media (min-width: 927px) {
    font-size: 3rem;
  }
}
